<app-header></app-header>
<div class="popUp">
  <popup (confirmClick)="cropImage()">
    <div class="pull-left">
      <div class="file-upload">
        <input id="custom-input" type="file" (change)="fileChangeListener($event)">
      </div>
      <img-cropper #cropper [image]="resultData" [settings]="cropperSettings"></img-cropper>
      <br>
      <span class="result rounded" *ngIf="resultData.image">
        <img [src]="resultData.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
      </span>
    </div>
  </popup>
</div>
<section>
  <div class="container-fluid">
    <div class="row">
      <div id="top-background">
      </div>
    </div>
  </div>
</section>
<section class="user-interface">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="service">
          <img [src]="getProfileImageUrl()" alt="Profile image">
          <figcaption>
            <a (click)="openPopUp()">update profile picture</a>
          </figcaption>
        </div>
        <div class="user-information">
          <div class="rating">
            <span><i class="fa fa-diamond" aria-hidden="true"></i></span>
            <span><i class="fa fa-diamond" aria-hidden="true"></i></span>
            <span><i class="fa fa-diamond" aria-hidden="true"></i></span>
            <span><i class="fa fa-diamond" aria-hidden="true"></i></span>
            <span><i class="fa fa-diamond" aria-hidden="true"></i></span>
          </div>
          <div class="user-name">
            <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
            <h3>{{currentUser.country}}</h3>
          </div>
          <div class="create-project">
            <button [routerLink]="['/new-project']" class="create-new">Create Project</button>
          </div>
        </div>
      </div>
      <div class="profile-name col-md-9">
        <h2 class="profile-details">Profile Details</h2>
        <div class="aboutme">
          <div class="wrap">
            <span class="main-parts">Short introduction: </span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi cumque delectus dicta eos
              expedita
              laudantium obcaecati sunt, veritatis. Amet doloribus expedita ipsam laborum magni, maiores minima officiis
              rerum sequi.</p>
          </div>
          <div class="wrap">
            <span class="main-parts">Skills/Resources</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi cumque delectus dicta eos
              expedita
              laudantium obcaecati sunt, veritatis. Amet doloribus expedita ipsam laborum magni, maiores minima officiis
              rerum sequi.</p>
          </div>
          <div class="wrap">
            <span class="main-parts">Availability: </span>
            <span> Less than 20/hours per week</span>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>
</section>

