#top-background {
  background: url('../../../css-assets/10.jpg') no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 13rem 0;
  text-align: center;
}
.user-interface {
  background: #f9f9f9;
  padding-bottom: 10rem;
}
.service {
  background-repeat: no-repeat;
  height: 230px;
  width:230px;
  margin: -15rem auto 0 auto;
  border-radius: 50%;
  text-align: center;
  position: relative;
  box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, 0.25);
  overflow: hidden;
}
.service img {
  max-width: 100%;
  display: block;
  position: relative;
  height: 230px;
  transition: transform 0.4s;
}
.service:hover img {
  transform: translateY(-50px);
}
.service:hover figcaption {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 0.4s, opacity 0.1s;
}
.service figcaption {
  position: absolute;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
  height: 70px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.4s, opacity 0.1s 0.3s;
}
.service figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}
.rating {
  margin-top: 30px;
  text-align: center;
}
.wrap {
  margin-bottom: 4rem;
}
.wrap:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.main-parts {
  background: #50bbf2;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.profile-details {
  font-size:40px;
  margin-bottom: 5rem;
}
.user-name {
  text-align: center;
  margin-bottom: 5rem;
}
.projects-information {
  margin-bottom: 5rem;
}
.projects-header {
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.project-title:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #000;
}
.project-details {
  display: inline-block;
  width:90%;
}
.close-button {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-top: 25px;
}
.profile-name {
  margin-top: -120px;
  border-left: 2px solid #262626;
  padding-left: 5rem;
}
.all-projects {
  margin: 5rem 0;
}
.create-new {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: transparent;
  vertical-align: middle;
  border: 1px solid #2196F3;
  border-radius: 2px;
  font-size: 16px;
  color: #2196F3;
  width: 140px;
  margin-left: 40px;
  padding: 10px 0px 10px 6px;
  outline: none;
}
.rounded img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
