<app-header></app-header>
<div class="login-form">
  <div class="col-md-6 offset-md-3">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input formControlName="email" placeholder="Email" type="email" required class="form-control"/>
        <div *ngIf="loginForm.controls['email'].invalid">Email is required</div>
      </div>
      <div class="form-group">
        <input formControlName="password" placeholder="Password" type="password" required class="form-control"/>
        <div *ngIf="loginForm.controls['password'].invalid">Password is required</div>
      </div>
      <span class="help-block" [class.d-none]="!hiddenMessage">
      MAN username or password is incorrect wtf
    </span>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
        <img>
        <a [routerLink]="['/sign-up']" class="btn btn-link">Register</a>
      </div>
    </form>
    <form ngNoForm action="/signin/facebook" method="post">
      <button class="btn btn-block btn-social btn-facebook" type="submit"><span class="fa fa-facebook"></span>Sign in
        with facebook
      </button>
      <input type="hidden" name="scope" value="email">
      <input type="hidden"
             name="_csrf"
             [value]="getCsrfToken()"/>
    </form>
  </div>
</div>

