header {
  min-height: 50px;
}
nav.navbar.shrink {
  min-height: 40px;
}
.logo.shrink {
  line-height: 40px;
}
#main_nav.shrink a {
  line-height: 40px;
}

.logo {
  text-transform: uppercase;
  font-size: 1.35em;
  font-weight: 700;
  line-height: 50px;
  float: left;
  margin-right: 30px;
  color: #13c6a6 !important;

}
a.logo:hover, a.logo:focus {
  text-decoration: none;
}

#main_nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#main_nav li {
  list-style-type: none;
}
#main_nav a {
  display: inline-block;
  color: #FFF;
  font-size: 15px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  font-weight: 700;
}

#main_nav .dropdown-menu a {
  color: #fff;
}

#main_nav li:hover {
  background: #13c6a6;
}

#main_nav li .active {
  background: #13c6a6;
}
.menu {
  display: none;
}
.dropdown img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.dropdown a:active {
  background-color: #3e3f4a;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus
 {
  background-color: #13c6a6;
}
.dropdown-menu {
  background-color: #3e3f4a;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background: #13c6a6;
}

