<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <div class="logo">
        <a *ngIf="currentUser.authenticated" [routerLink]="['/projects']" class="logo">LikeMIND LOGO</a>
        <a *ngIf="!currentUser.authenticated" [routerLink]="['/']" class="logo">LikeMIND LOGO</a>
      </div>
      <ul class="navbar-nav ml-auto" id="main_nav">
        <li *ngIf="!currentUser.authenticated"><a [routerLink]="['/signin']">Login</a></li>
        <li *ngIf="currentUser.authenticated" class="dropdown" dropdown>
          <a dropdownToggle class="dropdown-toggle"><i class="fa fa-bell-o">
            <span *ngIf="notifications?.length" class="num">{{notifications?.length}}</span></i>
            {{notifications?.length ? "*" : null}}
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let notification of notifications">
              <a (click)="handleNotification(notification)" class="dropdown-item">
                {{notification.content.message}}
              </a>
            </li>
            <li *ngIf="noNewNotifications">
              <a class="dropdown-item">No notifications for you, sir</a>
            </li>
          </ul>
        </li>
        <li *ngIf="currentUser.authenticated" class="dropdown" dropdown>
          <a dropdownToggle class="dropdown-toggle">
            <img [src]="currentUser['profileLogo'] ? currentUser['profileLogo'] : '/assets/user-image.jpg'"
                 alt="header-profile image">
            <span>{{currentUser.firstName}} {{currentUser.lastName}}</span>
            <span class="caret glyphicon glyphicon-sm air-icon-arrow-expand" aria-hidden="true"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item"
                   [routerLink]="['/my-profile']">{{currentUser.firstName}} {{currentUser.lastName}}</a></li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
