<app-header></app-header>
<div class="how-it-works">
  <h1>HOW it work </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Accusamus accusantium doloribus fugit incidunt laborum
    molestias numquam obcaecati provident rerum. A consectetur
    debitis, dolor fugit nobis nulla odio officiis possimus rem?</p>
  <ul>
    <li *ngFor="let project of projects"> {{project.content}} {{project.title}}
    </li>
  </ul>
</div>
