#second {
  background-color: #f9f9f9;
  padding-bottom: 30px;
}
.section-first h1{
  text-transform: uppercase;
  margin: 0;
  font-size: 3.5em;
  color: #fff;
  font-weight: bold;
}
#home {
  background: #f7f8fb url(../../../css-assets/homepage.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 18em;
  padding-top: 18rem;
}
.main-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  color: #2c4058;
  font-weight: bold;
  margin:7rem 0;
}
.button_wrapper {
  margin-top: 5rem;
}
.services {
  box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.1);
  display: block;
  background-color: #fff;
  margin-right: 5%;
  transition: .4s ease transform, .4s ease opacity;
  transform: translateY(100px);
  opacity: 0;
  text-align: left;
  padding:2rem;
}
.services.active {
  transform: translateY(0);
  opacity: 1;
}
button {
  border: none;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  padding: .75em 1.5em;
  border-radius: 0.3em;
  text-decoration: none;
  font-weight: 400;
  transition: background .4s ease-in-out;
}
#how-it-works {
  padding: 5rem 0;
}
.button_blue {
  background: none;
  color: #292929;
  border: 1px solid #292929;
  outline: none;
  margin-right: 1em;
  font-size: .9em;
}
.button_blue:hover {
  color: #fffd00;
  border: 1px solid #fffd00;
}

.button_green {
  background: #8cefaa;
  color: #FFF;
  border: none;
  outline: none;
  font-size: .9em;
}
.button_green:hover {
  background: #46bf6a;
}
