<app-header></app-header>
<section id="home">
  <div class="container">
    <div class="row">
      <div class="section-first">
        <div>
          <h1>Live</h1>
          <h1>Create</h1>
          <h1>Share your project</h1>
          <div class="button_wrapper">
            <button [routerLink]="['/how-it-works']" class="button button_blue">How it works</button>
            <button [routerLink]="['/sign-up']" class="button button_green" href="#">Get started</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <h1 class="main-text">How it Works</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="services">
          <h2>The Range</h2>
          <p class="p1">With the increasing need for your furniture to be flexible, Myriad allows you to create a comfortable meeting area, private huddle space or a stunning island. The opportunities are truly infinite with this versatile range.</p>
          <p class="p1">You become the designer with Myriad, arranging modules to create any shape you desire. And, if you need help, our team is always on hand with suggestions to style your space.</p>
          <p class="p1"><a href="http://myriad.space/our-range/">Explore Range</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services">
          <h2>The Range</h2>
          <p class="p1">With the increasing need for your furniture to be flexible, Myriad allows you to create a comfortable meeting area, private huddle space or a stunning island. The opportunities are truly infinite with this versatile range.</p>
          <p class="p1">You become the designer with Myriad, arranging modules to create any shape you desire. And, if you need help, our team is always on hand with suggestions to style your space.</p>
          <p class="p1"><a href="http://myriad.space/our-range/">Explore Range</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="services">
          <h2>The Range</h2>
          <p class="p1">With the increasing need for your furniture to be flexible, Myriad allows you to create a comfortable meeting area, private huddle space or a stunning island. The opportunities are truly infinite with this versatile range.</p>
          <p>Myriad is a diverse selection of upholstered modular furniture, completely flexible and reconfigurable. The range is made up of eleven linkable seating units, three privacy screens, side tables and arms that accommodate power.</p>
          <p class="p1"><a href="http://myriad.space/our-range/">Explore Range</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="second">
  <div class="container">
    <div class="row">
      <h2>How it works</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci eaque est illum ipsum libero
        nesciunt possimus quae repudiandae! Alias cumque, eos impedit ipsum neque perspiciatis quaerat repellat reprehenderit.
      </p>
    </div>
  </div>
</section>
