<app-header></app-header>
<div class="container">
  <div class="col-md-6 offset-md-3">
    <h2>Create New Project</h2>
    <form [formGroup]="projectForm" (ngSubmit)="createProject()">
      <div class="form-group">
        <input formControlName="title" class="form-control" placeholder="Project title" required/>
        <div *ngIf="projectForm.controls['title'].invalid">Title is required</div>
      </div>
      <div class="form-group">
        <textarea formControlName="content" class="form-control" placeholder="Project content" required></textarea>
        <div *ngIf="projectForm.controls['content'].invalid">Content is required</div>
      </div>
      <button type="submit" class="btn btn-primary">Create New</button>
      <a [routerLink]="['/projects']" class="btn btn-link">Cancel</a>
    </form>
  </div>
</div>
