<app-header></app-header>
<div class="signup">
  <div class="col-md-6 offset-md-3">
    <h2>Registration</h2>
    <form name="form" (ngSubmit)="register()">
      <div class="form-group">
        <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel"
               placeholder="First name" required/>
        <div *ngIf="!firstName.valid" class="help-block">First Name is required</div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel"
               placeholder="Last name" required/>
        <div *ngIf="!lastName.valid" class="help-block">Last Name is required</div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
               placeholder="Enter email" required/>
        <div *ngIf="!email.valid" class="help-block">Email is required</div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
               placeholder="Password" required/>
        <div *ngIf="!password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="passwordConfirmation" [(ngModel)]="model.passwordConfirmation"
               #passwordConfirmation="ngModel" placeholder="Password Confirmation" required/>
        <div *ngIf="!passwordConfirmation.valid" class="help-block">Password confirmation is required</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
        <a [routerLink]="['/signin']" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
