<app-header></app-header>
<div *ngFor="let user of teamMembers">
  <div>{{user.firstName}} {{user.lastName}}</div>
  <a (click)="initPrivateChat(user)">Go to private chat</a>
</div>
<ul id="messages">
  <li *ngFor="let message of messages">
    {{message.sender.firstName}} {{message.message}}
  </li>
</ul>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <input formControlName="messages" class="form-control" autocomplete="off"/>
  <button type="submit">Send</button>
</form>
