<app-header></app-header>
<div class="popUp" *ngIf="project">
  <popup (confirmClick)="applyProject()">
    <textarea [(ngModel)]="coverletter" name="coverletter" cols="30" rows="10"
              #coverletterRef="ngModel" required class="form-control" placeholder="Cover letter"></textarea>
    <div *ngIf="coverletterRef.invalid">Cover letter is required</div>
  </popup>
</div>
<div class="container">
  <div class="row">
    <div *ngIf="project" class="project-details">
      <div>
        <h4>{{project.title}}</h4>
        <h4>{{project.content}}</h4>
        <h5>{{project.skills}}</h5>
        <p>List of skills which project author needed</p>
        <div class="buttons">
          <button *ngIf="isAuthor" (click)="deleteProject()">Delete Project</button>
        </div>
        <button *ngIf="!teamRequestSent && !isAuthor" (click)="openPopUp()">Apply</button>
      </div>
      <div>
        <h2 *ngIf="project.teamId" [routerLink]="['/teams', project.teamId]">Link to team Page</h2>
      </div>
      <div *ngIf="isAuthor">
        <div class="teams-requests">
          <h2>Team Requests</h2>
          <div *ngFor="let teamrequest of project.teamRequests">
            <h4>{{teamrequest.appliedUser.firstName}}</h4>
            <h4>{{teamrequest.appliedUser.lastName}}</h4>
            <p>{{teamrequest.coverLetter}}</p>
            <button (click)="approveRequest(teamrequest.appliedUser.id)">Approve</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
