<app-header></app-header>
<div class="container projects">
  <div class="row">
    <div class="col-md-3">
      <h2>Filters:</h2>
      <h3>Locations</h3>
      <h3>Skills</h3>
    </div>
    <div class="col-md-8">
      <form>
        <input
          (keyup.enter)="runSearch(searchProject.value)"
          type="search"
          #searchProject
          maxlength="200"
          class="form-control search-project-input"
          autocomplete="off"
          placeholder="Search project">
      </form>
      <ul id="projects-list" *ngFor="let info of projectInfos">
        <a [routerLink]="['/projects', info.project.id]">
          <li class="listing">
            <div class="info">
              <span class="project-title">{{info.project.title}}</span>
              <span class="project-content">{{info.project.content}}</span>
              <span
                class="projects-author">{{ info.project.author && (info.project.author.firstName + ' ' + info.project.author.lastName)}}</span>
              <span class="projects-author">{{info.project.createdTimestamp | date}}</span>
            </div>
            <div class="likes_interesting">
              <i class="fa fa-heart" (click)="switchLike(info.project.id, info.likeInfo)" aria-hidden="true">
                <span class="likes-count">{{info.likeInfo.likesCount}}</span>
              </i>
            </div>
          </li>
        </a>
      </ul>
      <div *ngIf="isShowLoadMore" class="buttons">
        <button (click)="loadMore()" class="load-more">Load more</button>
      </div>
    </div>
  </div>
</div>

