.projects {
  margin-top: 100px;
}
#projects-list {
  list-style: none;
  padding: 0;
}
#projects-list a {
  text-decoration: none;
}
.listing {
  background: #FFF;
  border: 1px solid #e6e7e9;
  border-radius: .3rem;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  display: table;
  width: 100%;
  transition: all .3s ease-in-out;
}
.listing:hover {
  cursor: pointer;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
}
.info {
  padding-left: 25px;
}
.project-title {
  font-weight: 700;
  color: #34324b;
  font-size: 1.3em;
}
.project-content {
  color: #74718f;
  font-size: .9em;
  display: block;
}
.projects-author {
  display: block;
  color: #fd7576;
}

.create-new:hover {
  background-color: #2196F3;
  color: #FFF;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.fa-heart {
  color: #232323;
}
.load-more {
  border: 2px solid #d9deea;
  outline: none;
  padding: .8em 3em;
  text-align: center;
  background: transparent;
  color: #d9deea;
  margin-top: 2em;
  border-radius: 3em;
  font-weight: 700;
  transition: all .3s ease-in-out;
}
.fa-star {
  color: #eaea00;
}
.likes_interesting {
  float: right;
  margin-top: 25px;
}
.likes-count {
  margin-left: 4px;
}
.info {
  float: left;
}
.load-more:hover {
  border-color: #37a000;
  color: #37a000;
}
.buttons {
  text-align: center;
  margin-bottom: 120px;
}
.search-project-input {
  margin-bottom: 3rem;
}
