/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: nunito, sans-serif;
}
