<app-header></app-header>
<ul id="messages">
  <li *ngFor="let message of messages">
    {{message.sender.firstName}} {{message.message}}
  </li>
</ul>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <input formControlName="messages" class="form-control" autocomplete="off"/>
  <button type="submit">Send</button>
</form>
